*{
    box-sizing: border-box;
  } 
body {
      margin: 0;
      padding: 0;
      background-color: rgb(255, 196, 4);
  }
.container{
    width: 100%;
    height: 100vh;
  }
  li{
    font-size: 2vh;
  }
  .btn{
    border-color: aliceblue;
   color: aliceblue;
  }
.logo {
    width: 90px;
  }
  .pollito{
    margin-top: 2rem;
    width: 50%;
  }
  .hola {
    width: 60%;
  }
  .perro {
    width: 45%;
  }
  .gato {
    width: 45%;
  }
  .nene {
    width: 50%;
  }
  .donaa {
    margin-top: 2rem;
  }
  h1 {
    text-align: center;
    font-family: 'Indie Flower', cursive;
  }
  p{
    font-size: 150%;
    font-family: 'Indie Flower', cursive;
  }
  .mujer {
    margin-top: 5rem;
  }
  .niños {
    margin-top: 5rem;
  }
  .bebe {
    margin-top: 5rem;
  }
  .btn{
    background-color: black;
  }
  .iconos{
    width: 50%;
    margin-top: 1rem;
  }
  .footer{
   display: none;
  }
  